[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
requests = "*"

[dev-packages]
fastapi = "*"
mangum = "*"
requests = "*"
gunicorn = "*"
uvicorn = "*"
httpx = "*"
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
